*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    
}

/* ---------------------NAVBAR--------------------------- */
.aside{
    width: 13rem;
    /* height: 900px; */
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    justify-content: space-between;

}
.aside__links{
    width: 100%;
    /* height: 900px; */
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aside__links__logo{
    width: 13rem;
    margin: 2rem auto;
}
.navbar{
    width: 100%;
    text-align: center;
    
}
.navbar__list{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .25rem;
    list-style: none;
    
}
.navbar__list li{
    margin: auto;
    padding: .5rem;
    
}
.navbar__list li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar__list li:hover{
    background-color: gray;
    border-radius: .25rem;
}
.navbar__list li:last-child{
    background-color: #efb810;
    color: black;
    border: #efb810 .15rem solid;
    border-radius: .25rem;
}
.navbar__list li:hover:last-child{
    background-color: black;
    color: white;
}
.redes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 0;
    
    margin-bottom: 1rem;
    z-index: 1;
}
.redes img{
    width: 2rem;
}
.toggle-button{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 2.5rem;
    /* position: absolute;
    right: 1rem; */
    background-color: #efb810;
    border-radius: .5rem;
    border: solid 0.25rem #efb810;
    /* margin-right: 2rem; */
    cursor: pointer;
}
.toggle-button__bar{
    background-color: white;
    height: 6px;
    width: 100%;
    border-radius: .5rem;
    
}

/* ----------------------------INDEX MAIN--------------------------------------- */
.main{
    background-image: url(../images/backgrounds/background1.jpg);
    margin-left: 13rem;
    width: 90%;
    height: 900px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;

    
}
.main__grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "taproom taproom estilos"
        "taproom taproom estilos"
        "clientes galeria estilos"
        "clientes contacto estilos";
    gap: 2rem;
    padding: 2rem;
}
.main__grid__taproom{
    background-image: url(../images/pictures/draftbeer.png);
    grid-area: taproom;
    border-radius: .5rem;
    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__grid a:hover:nth-child(1){
    transition: background-image 0.3s;
    background-image: url(../images/pictures/taproom-black.png);
}
.main__grid__clientes{
    background-image: url(../images/pictures/clientes2.jpg);
    grid-area: clientes;
    border-radius: .5rem;
    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__grid a:hover:nth-child(2){
    transition: background-image 0.3s;
    background-image: url(../images/pictures/clientesBB.png);
    background-position: center;
    background-size: cover;
}
.main__grid__galeria{
    background-image: url(../images/pictures/galeria.jpeg);
    grid-area: galeria;
    border-radius: .5rem;
    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__grid a:hover:nth-child(3){
    transition: background-image 0.3s;
    background-image: url(../images/pictures/galeriaBB.png);
}
.main__grid__contacto{
    background-image: url(../images/pictures/contacto2.png);
    grid-area: contacto;
    border-radius: .5rem;
    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__grid a:hover:nth-child(4){
    transition: background-image 0.3s;
    background-image: url(../images/pictures/contactoBB.png);
}
.main__grid__estilos{
    background-image: url(../images/pictures/4.jpg);
    grid-area: estilos;
    border-radius: .5rem;
    opacity: .8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main__grid a:hover:nth-child(5){
    transition: background-image 0.3s;
    background-image: url(../images/pictures/estilosBB.png);
}
.footer{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: black;
}
.footer div{
    margin: auto 2rem;
}
.footer img{
    height: 2rem;
}
.main__grid h2{
    display: none;
}








/* ---------------------------MAIN TAPROOM------------------------------------------- */


.main-tap{
    background-image: url(../images/backgrounds/background1.jpg);
    margin-left: 13rem;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;   
}
.main-tap__banner{
    display: grid;
    /* left: 13rem; */
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "canillas";
    height: 100vh;

}
.main-tap__banner__canillas{
    background-image: url(../images/pictures/Desarrrr2.jpg);
    grid-area: canillas;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    height: 100vh;
}
.main-tap__banner__canillas__cartel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 0.25rem;
    background-color: rgba(255, 255, 255, .3);
    width: 40%;
    height: 30%;   
}
.main-tap__banner__canillas__cartel h2 h3{
    text-align: center;
}
.main-tap__bienvenida{
    width: 100%;
    height: 90vh;
    color: #efb810;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0.1em 0.3em 0.1em black;
    margin-top: 1.5rem;
}
.main-tap__bienvenida-blanco{
    color: white;
}
.main-tap__bienvenida__texto{
    width: 50%;
    font-size: 1.3rem;
    margin: auto;
    margin-top: 6rem;
    text-align: justify;
    color: white;
}
.main-tap__bienvenida button{
    border-radius: .5rem;
    border: none;
    background-color: #efb810;
    color: white;
    padding: 1rem;
    margin-top: 3rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .3);
}
.main-tap__menu{
    width: 95%;
    height: 100vh;
    background-image: url(../images/pictures/barriles-cerveza-BN.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    margin: auto;
}
.main-tap__menu__container{
    width: 75%;
    height: 75%;
    background-color: rgba(51, 53, 51, 0.9);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-tap__menu__container__grid{
    display: grid;
    width: 50%;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "hamburguesa pizza"
    "tacos papas";
    gap: 0.5rem;
    margin-left: 1rem;
}
.main-tap__menu__container__grid{
    display: grid;
    width: 50%;
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "hamburguesa pizza"
    "tacos papas";
    gap: 0.5rem;
    margin-left: 1rem;
}
.hamburguesa{
    grid-area: hamburguesa;
    background-image: url(../images/pictures/hamburguesa.jpg);
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
    
}
.pizza{
    grid-area: pizza;
    background-image: url(../images/pictures/pizza.jpg);
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
}
.tacos{
    grid-area: tacos;
    background-image: url(../images/pictures/tacos.jpg);
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
    
}
.papas{
    grid-area: papas;
    background-image: url(../images/pictures/papas.png);
    background-position: center;
    background-size: cover;
    border-radius: .5rem;  
}
.main-tap__menu__container__texto{
    width: 50%;
    height: 50%;
}
.main-tap__menu__container__texto h2{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    text-shadow: 0.1em 0.3em 0.1em black;
}
.main-tap__menu__container__texto p{
    width: 85%;
    margin: auto;
    text-align: justify;
    color: white;
}
.main-tour{
    width: 100%;
    height: 90vh;
    margin: auto;
}
.main-tour__grid{
    width: 80%;
    height: 80%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    "titulo titulo"
    "pack1 pack2";
    margin: auto;
    margin-top: 2.5rem;
    gap: 1rem;
}
.main-tour__titulo{
    grid-area: titulo;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 0.1em 0.3em 0.1em black;

}
.main-tour__titulo span{
    color: #efb810;
}
.main-tour__pack1{
    grid-area: pack1;
    margin: auto;
}
.main-tour__pack2{
    grid-area: pack2;
    margin: auto;
}
.main-reserva{
    width: 100%;
    height: 100vh;
    background-image: url(../images/pictures/cheers-BN.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
}
.main-reserva__container{
    width: 75%;
    height: 85%;
    border: 0.25rem solid black;
    margin: auto;
    background-color: rgba(51, 53, 51, 0.9);
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 1fr;
    grid-template-areas:
        "form info";
    color: white;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}
.main-reserva__container__form{
    grid-area: form;
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;

    

}
.main-reserva__container__form h2{
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
    text-shadow: 0.1em 0.3em 0.1em black;
}
.formulario{
    margin: auto;
    margin-top: 2.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    
}
.formulario input, 
.formulario textarea{
    width: 100%;
    border: none;
    background: none;
    border-bottom: #efb810 solid 0.15rem;
    outline: 0;
    color: white;
    padding: .1rem;
    margin: 1rem auto;
    font-weight: bold;
}

.formulario button{
    border: none;
    background-color: #efb810;
    text-transform: uppercase;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    width: 5rem;
    margin: auto;
}
.formulario button:hover{
    background-color: transparent;
    border: solid .15rem #efb810;
}
.main-reserva__container__info{
    grid-area: info;
    background-color: rgba(0, 0, 0, 0.8);
    
    text-align: left;
    padding-left: 2rem;
    padding-top: 4rem;
    padding-right: 1rem;
    
}
.main-reserva__container__info ul{
    list-style: none;
    
}


/* ------------------------------MAIN ESTILOS----------------------------------------------- */

.main-estilos{
    margin-left: 13rem;
    background-image: url(../images/backgrounds/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4.5rem auto auto;
    grid-template-areas:
    "titulo titulo"
    "creamale stout"
    "scottish aipa";
    gap: 2rem;
    padding: 1rem;
    /* width: 100%; */
    
}

.main-estilos__titulo{
    grid-area: titulo;
    color: white;
    font-size: 1.9rem;
    margin: auto;
    text-align: center;
    align-self: center;
}

/* --------------------CREAM ALE-------------------- */
.main-estilos__creamale{
    grid-area: creamale;
    border-radius: .5rem;
    background-color: rgba(255, 255, 0, .7);
    color: black;
    
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5rem auto;
    grid-template-areas:
    "titulo titulo"
    "botella descripcion";
}

.main-estilos__creamale h2{
    grid-area: titulo;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}
.main-estilos__creamale__botella{
    grid-area: botella;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-estilos__creamale__botella img{
    width: 7rem;
}
.main-estilos__creamale__descripcion{
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* height: 50%; */
    padding: .5rem;
    /* justify-content: space-between; */
}
.main-estilos__creamale__descripcion__buttons{
    margin-top: 1rem;
}
.button1{
    border: solid black .15rem;
    border-radius: .25rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: .5rem;
    cursor: pointer;
}
.button2{
    border: solid black .15rem;
    border-radius: .25rem;
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: .5rem;
    cursor: pointer;
}

.main-estilos__creamale__descripcion__grid{
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .1fr 1fr 1fr;
    margin: auto;
    padding: .5rem; */
    margin: auto;
}

.main-estilos__creamale__parametros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "alc ibu"
    "est orig";
    gap: 0.05rem;
}
.main-estilos__creamale__parametros p{
    border: solid .1rem black;
    text-align: center;
}

/* -----------------------SCOTTISH---------------------------- */
.main-estilos__scottish{
    grid-area: scottish;
    border-radius: .5rem;
    background-color: rgba(255, 0, 0, .7);
    color: black;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5rem auto;
    grid-template-areas:
    "titulo titulo"
    "botella descripcion";
}

.main-estilos__scottish h2{
    grid-area: titulo;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}
.main-estilos__scottish__botella{
    grid-area: botella;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-estilos__scottish__botella img{
    width: 7rem;
}
.main-estilos__scottish__descripcion{
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* height: 50%; */
    padding: .5rem;
}
.main-estilos__scottish__descripcion__buttons{
    margin-top: 1rem;
}
.button1{
    border: solid black .15rem;
    border-radius: .25rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: .5rem;
    cursor: pointer;
}
.button2{
    border: solid black .15rem;
    border-radius: .25rem;
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: .5rem;
    cursor: pointer;
}

.main-estilos__scottish__descripcion__grid{
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .1fr 1fr 1fr;
    margin: auto;
    padding: .5rem; */
    margin: auto;
}

.main-estilos__scottish__parametros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "alc ibu"
    "est orig";
    gap: 0.05rem;
}
.main-estilos__scottish__parametros p{
    border: solid .1rem black;
    text-align: center;
}

/* ------------------------STOUT-------------------------------- */
.main-estilos__stout{
    grid-area: stout;
    border-radius: .5rem;
    background-color: rgba(128, 0, 128, .7);
    color: black;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5rem auto;
    grid-template-areas:
    "titulo titulo"
    "botella descripcion";
}

.main-estilos__stout h2{
    grid-area: titulo;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}
.main-estilos__stout__botella{
    grid-area: botella;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-estilos__stout__botella img{
    width: 7rem;
}
.main-estilos__stout__descripcion{
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* height: 50%; */
    padding: .5rem;
}
.main-estilos__stout__descripcion__buttons{
    margin-top: 1rem;
}
.button1{
    border: solid black .15rem;
    border-radius: .25rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: .5rem;
    cursor: pointer;
}
.button2{
    border: solid black .15rem;
    border-radius: .25rem;
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: .5rem;
    cursor: pointer;
}

.main-estilos__stout__descripcion__grid{
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .1fr 1fr 1fr;
    margin: auto;
    padding: .5rem; */
    margin: auto;
}

.main-estilos__stout__parametros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "alc ibu"
    "est orig";
    gap: 0.05rem;
}
.main-estilos__stout__parametros p{
    border: solid .1rem black;
    text-align: center;
}


/* ------------------------AIPA---------------------------------- */
.main-estilos__aipa{
    grid-area: aipa;
    border-radius: .5rem;
    background-color: rgba(0, 128, 0, .7);
    color: black;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 5rem auto;
    grid-template-areas:
    "titulo titulo"
    "botella descripcion";
}

.main-estilos__aipa h2{
    grid-area: titulo;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}
.main-estilos__aipa__botella{
    grid-area: botella;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-estilos__aipa__botella img{
    width: 7rem;
}
.main-estilos__aipa__descripcion{
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* height: 50%; */
    padding: .5rem;
}
.main-estilos__aipa__descripcion__buttons{
    margin-top: 1rem;
}
.button1{
    border: solid black .15rem;
    border-radius: .25rem;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: .5rem;
    cursor: pointer;
}
.button2{
    border: solid black .15rem;
    border-radius: .25rem;
    background-color: transparent;
    color: black;
    font-weight: bold;
    padding: .5rem;
    cursor: pointer;
}

.main-estilos__aipa__descripcion__grid{
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .1fr 1fr 1fr;
    margin: auto;
    padding: .5rem; */
    margin: auto;
}

.main-estilos__aipa__parametros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "alc ibu"
    "est orig";
    gap: 0.05rem;
}
.main-estilos__aipa__parametros p{
    border: solid .1rem black;
    text-align: center;
}







@media (min-width: 769px) and (max-width: 1023px){
    .main-estilos{
        margin-left: 0;
        margin-top: 7rem;
    }
}

@media (min-width: 601px) and (max-width: 768px){
    .main-estilos{
        margin-left: 0;
        margin-top: 7rem;
    }
    .main-estilos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4.5rem auto auto auto auto;
        grid-template-areas:
        "titulo"
        "creamale"
        "stout"
        "scottish"
        "aipa";
        gap: 2rem;
        padding: 3rem;
        /* width: 100%; */
        
    }
    
    .main-estilos__titulo{
        grid-area: titulo;
        color: white;
        font-size: 1.5rem;
        margin: auto;
        text-align: center;
        align-self: center;
    }
    .main-estilos__creamale__parametros{
        width: 70%;
    }
    .main-estilos__scottish__parametros{
        width: 70%;
    }
    .main-estilos__stout__parametros{
        width: 70%;
    }
    .main-estilos__aipa__parametros{
        width: 70%;
    }
}

@media (min-width: 361px) and (max-width: 600px){
    .main-estilos{
        margin-left: 0;
        margin-top: 7rem;
    }
    .main-estilos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4.5rem auto auto auto auto;
        grid-template-areas:
        "titulo"
        "creamale"
        "stout"
        "scottish"
        "aipa";
        gap: 2rem;
        padding: 1rem;
        /* width: 100%; */
        
    }
    
    .main-estilos__titulo{
        grid-area: titulo;
        color: white;
        font-size: 1.5rem;
        margin: auto;
        text-align: center;
        align-self: center;
    }
    .main-estilos__creamale__parametros{
        width: 70%;
    }
    .main-estilos__scottish__parametros{
        width: 70%;
    }
    .main-estilos__stout__parametros{
        width: 70%;
    }
    .main-estilos__aipa__parametros{
        width: 70%;
    }
}

@media (max-width: 360px){
    .main-estilos{
        margin-left: 0;
        margin-top: 7rem;
    }
    .main-estilos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4.5rem auto auto auto auto;
        grid-template-areas:
        "titulo"
        "creamale"
        "stout"
        "scottish"
        "aipa";
        gap: 2rem;
        padding: 1rem;
        /* width: 100%; */
        
    }
    
    .main-estilos__titulo{
        grid-area: titulo;
        color: white;
        font-size: 1.3rem;
        margin: auto;
        text-align: center;
        align-self: center;
    }
    .main-estilos__creamale__parametros{
        width: 70%;
    }
    .main-estilos__scottish__parametros{
        width: 70%;
    }
    .main-estilos__stout__parametros{
        width: 70%;
    }
    .main-estilos__aipa__parametros{
        width: 70%;
    }
}




/* ------------------RESPONSIVE AREA---------------------------------------- */

@media (min-width: 769px) and (max-width: 1023px){
    body{
        display: flex;
        flex-direction: column;
    }
    .aside{
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        z-index:1;
    
    }
    .aside__links{
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .aside__links__logo{
        width: 10rem;
        margin: 0;
        padding: .5rem;
    }
    .navbar{
        width: 70%;
        text-align: center;
        
    }
    .navbar__list{
        width: 100%;
        height: 7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .redes{
        display: none;
    }
    .main{
        padding-top: 6rem;
        width: 100%;
        height: 50rem;
        margin-left: 0;        
    }

    .footer{
        display: flex;
    }


    /* ---------------------MAIN-TAPROOM 769px - 1023px------------------------- */


    .main-tap{
        margin-left: 0;
    }
}


/* -------------------------------------------------------------------------------- */

@media (min-width: 601px) and (max-width: 768px){
    body{
        display: flex;
        flex-direction: column;
    }
    .aside{
        width: 100%;
        height: 7rem;
        position: fixed;
        z-index:1;
    }
    .aside__links__buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;
    }
    .aside__links__logo{
        margin: 0;
        padding: .5rem;
    }
    .navbar{
        background-color: #333533;
        position: absolute;
        top: 7rem;
        left: 100%;
        transition: left 0.3s;
    }
    .navbar-active{
        left: 0rem;
        transition: left 0.3s;
    }
    
    .toggle-button{
        display: flex;
        margin-right: 2rem;
    }
    .redes{
        display: none;
    }
    .main{
        width: 100%;
        margin-top: 7rem;
        margin-left: 0;
    }
    .main__grid{
        gap: 1rem;
    }
    .footer{
        display: flex;
    }
    /* .navbar.active{
        display: flex;
    } */
    
    /* ---------------MAIN TAPROOM 601px - 768px----------------------- */


    .main-tap{
        margin-left: 0;
    }
    .main-tap__banner__canillas__cartel{
        text-align: center;
    }
    .main-tap__menu__container{
        flex-direction: column;
    }
    .main-tap__menu__container__grid{
        margin: auto;
        margin-top: 2rem;
    }
    .main-tap__menu__container__texto{
        width: 90%;
        margin-top: 2rem;
    }
    .main-tap__menu__container__texto p{
        width: 100%;
    }
    .main-reserva__container{
        width: 90%;
    }
}

@media (min-width: 361px) and (max-width: 600px){
    body{
        display: flex;
        flex-direction: column;
    }
    .aside{
        width: 100%;
        height: 7rem;
        position: fixed;
        z-index:1;
    }
    .aside__links__buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;
    }
    .aside__links__logo{
        margin: 0;
        padding: .5rem;
    }
    .navbar{
        background-color: #333533;
        position: absolute;
        top: 7rem;
        left: 100%;
        transition: left 0.3s;
    }
    .navbar-active{
        left: 0rem;
        transition: left 0.3s;
    }
    
    .toggle-button{
        display: flex;
        margin-right: 2rem;
    }
    .redes{
        display: none;
    }
    .main{
        
        width: 100%;
        height: 60rem;
        margin-top: 7rem;   
        margin-left: 0;     
    }
    .main__grid{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "taproom"
            "estilos"
            "clientes"
            "galeria"
            "contacto";
        gap: 1rem;
        padding: 1.5rem 1rem;
    }
    .main__grid h2{
        display: flex;
    }
    .main__grid a{
        text-decoration: none;
    }
    .main__grid__taproom{
        background-image: url(../images/pictures/draftbeer.png);
        grid-area: taproom;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__taproom h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.8);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(1){
        transition: none;
        background-image: url(../images/pictures/draftbeer.png);
    }
    .main__grid__clientes{
        background-image: url(../images/pictures/clientes2.jpg);
        grid-area: clientes;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__clientes h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.8);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(2){
        transition: none;
        background-image: url(../images/pictures/clientes2.jpg);
    }
    .main__grid__galeria{
        background-image: url(../images/pictures/galeria.jpeg);
        grid-area: galeria;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__galeria h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.8);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(3){
        transition: none;
        background-image: url(../images/pictures/galeria.jpeg);
    }
    .main__grid__contacto{
        background-image: url(../images/pictures/contacto2.png);
        grid-area: contacto;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__contacto h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.8);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(4){
        transition: none;
        background-image: url(../images/pictures/contacto2.png);
    }
    .main__grid__estilos{
        background-image: url(../images/pictures/4.jpg);
        grid-area: estilos;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__estilos h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.8);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(5){
        transition: background-image 0.3s;
        background-image: url(../images/pictures/4.jpg);
    }
    .footer{
        display: flex;
    }

    
    /* ------------MAIN-TAPROOM 361px - 600px--------------------------- */

    .main-tap{
        margin-left: 0;
    }
    .main-tap__banner__canillas__cartel{
        text-align: center;
        width: 70%;
    }
    .main-tap__bienvenida{
        font-size: 1.2rem;
    }
    .main-tap__bienvenida__texto{
        width: 70%;
        font-size: 1.1rem;
        
    }
    .main-tap__menu__container{
        width: 85%;
        flex-direction: column;
        height: 80vh;
        
    }
    .main-tap__menu__container__grid{
        width: 90%;
        height: 80vh;
        margin:auto;
        margin-top: .5rem;
    }
    .main-tap__menu__container__texto{
        width: 90%;
        font-size: .9rem;
    }
    .main-tap__menu__container__texto h2{
        font-size: 1.5rem;
        margin-top: .5rem;
    }
    .main-tour__titulo{
        font-size: 2rem;
    }
    .main-tour__grid{
        gap: 2rem;
    }
    .main-reserva__container{
        grid-template-columns: 1fr;
        grid-template-rows: 60% auto;
        grid-template-areas:
            "form"
            "info";
    }
    .main-reserva__container__form{
        width: 80%;
        font-size: .8rem;    
    }
    .main-reserva__container__form h2{
        margin-top: 0.2rem;
        font-size: 1rem;
    }
    .formulario{
        margin-top: 1.5rem;
    }
    .formulario input, 
    .formulario textarea{
        margin: .5rem auto;
    }
    
    .formulario button{
        padding: .3rem;
        width: 3.5rem;
        font-size: .6rem;
    }
    .main-reserva__container__info{
        font-size: .9rem;
        padding-top: 1rem;
    }
    .main-reserva__container__info h3{
        font-size: .8rem;
        
    }
    .main-reserva__container__info ul{
        font-size: .9rem;
        margin: .4rem auto;
        
    }
    .main-reserva__container__info br{
        display: none;
        
    }
}
@media (max-width: 360px){
    body{
        display: flex;
        flex-direction: column;
    }
    .aside{
        width: 100%;
        height: 7rem;
        position: fixed;
        z-index:1;
    }
    .aside__links__buttons{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;
    }
    .aside__links__logo{
        margin: 0;
        padding: .5rem;
    }
    .navbar{
        background-color: #333533;
        position: absolute;
        top: 7rem;
        left: 100%;
        transition: left 0.3s;
    }
    .navbar-active{
        left: 0rem;
        transition: left 0.3s;
    }
    
    .toggle-button{
        display: flex;
        margin-right: 2rem;
    }
    .redes{
        display: none;
    }
    .main{
        padding-top: 6rem;
        width: 100%;
        height: 50rem;
        margin-left: 0;
                
    }
    .main__grid{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "taproom"
            "estilos"
            "clientes"
            "galeria"
            "contacto";
        gap: 1rem;
        padding: 1.5rem 1rem;
    }
    .main__grid h2{
        display: flex;
    }
    .main__grid a{
        text-decoration: none;
    }
    .main__grid__taproom{
        background-image: url(../images/pictures/draftbeer.png);
        grid-area: taproom;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__taproom h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.8);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
        
    }

    .main__grid a:hover:nth-child(1){
        transition: none;
        background-image: url(../images/pictures/draftbeer.png);
    }
    .main__grid__clientes{
        background-image: url(../images/pictures/clientes2.jpg);
        grid-area: clientes;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__clientes h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.6);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(2){
        transition: none;
        background-image: url(../images/pictures/clientes2.jpg);
    }
    .main__grid__galeria{
        background-image: url(../images/pictures/galeria.jpeg);
        grid-area: galeria;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__galeria h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.8);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(3){
        transition: none;
        background-image: url(../images/pictures/galeria.jpeg);
    }
    .main__grid__contacto{
        background-image: url(../images/pictures/contacto2.png);
        grid-area: contacto;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__contacto h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.6);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(4){
        transition: none;
        background-image: url(../images/pictures/contacto2.png);
    }
    .main__grid__estilos{
        background-image: url(../images/pictures/4.jpg);
        grid-area: estilos;
        border-radius: .5rem;
        opacity: .8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
    }
    .main__grid__estilos h2{
        color: white;
        background-color: rgba(59, 57, 57, 0.8);
        border: solid .15rem #3B3939;
        margin: auto;
        text-decoration: none;
    }
    .main__grid a:hover:nth-child(5){
        transition: background-image 0.3s;
        background-image: url(../images/pictures/4.jpg);
    }
    .footer{
        display: flex;
    }


    /* ------------------------MAIN-TAPROOM 360px---------------------- */
    .main-tap{
        margin-left: 0;
    }
    .main-tap__banner__canillas__cartel{
        text-align: center;
        width: 70%;
    }
    .main-tap__bienvenida{
        font-size: 1.2rem;
    }
    .main-tap__bienvenida__texto{
        width: 70%;
        font-size: 1.1rem;
        
    }
    .main-tap__menu__container{
        width: 85%;
        flex-direction: column;
        height: 80vh;
        
    }
    .main-tap__menu__container__grid{
        width: 90%;
        height: 80vh;
        margin:auto;
        margin-top: .5rem;
    }
    .main-tap__menu__container__texto{
        width: 90%;
        font-size: .9rem;
    }
    .main-tap__menu__container__texto h2{
        font-size: 1.5rem;
        margin-top: .5rem;
    }
    .main-tour__titulo{
        font-size: 2rem;
    }
    .main-tour__grid{
        gap: 2rem;
    }
    .main-reserva__container{
        grid-template-columns: 1fr;
        grid-template-rows: 60% auto;
        grid-template-areas:
            "form"
            "info";
    }
    .main-reserva__container__form{
        width: 80%;
        font-size: .8rem;    
    }
    .main-reserva__container__form h2{
        margin-top: 0.2rem;
        font-size: 1rem;
    }
    .formulario{
        margin-top: 1.5rem;
    }
    .formulario input, 
    .formulario textarea{
        margin: .5rem auto;
    }
    
    .formulario button{
        padding: .3rem;
        width: 3.5rem;
        font-size: .6rem;
    }
    .main-reserva__container__info{
        font-size: .9rem;
        padding-top: 1rem;
    }
    .main-reserva__container__info h3{
        font-size: .8rem;
        
    }
    .main-reserva__container__info ul{
        font-size: .9rem;
        margin: .4rem auto;
        
    }
    .main-reserva__container__info br{
        display: none;
        
    }
}

